nav {
  display: flex;
  flex-direction: column;
  grid-area: menu;
  padding: 5px;
}

nav h2 {
  color: white;
}

nav span {
  color: yellow;
}

nav button {
  background-color: orange;
  border-radius: 20px;
  font-size: 1em;
  height: 5%;
  color: white;
  margin-top: 5px;
  outline: none;
}

nav button:hover {
  cursor: pointer;
}