nav {
  display: flex;
  flex-direction: column;
}

nav h2 {
  color: white;
}

nav span {
  color: yellow;
}

nav button {
  background-color: orange;
  border-radius: 20px;
  color: white;
  margin-top: 5px;
  outline: none;
}

nav button:hover {
  cursor: pointer;
}

nav button:active {
  border: 2px solid white;
}