article {
  background: yellow;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 10px;

}

a {
  border-radius: 0 0 5px 5px;
  background-color: #B56AF0; 
  color: black;
}

.img-div {
  border-radius: 5px 5px 0 0;
  height: 250px;
  overflow: hidden;
  width: 100%;
}

img {
  width: 100%;
}